{% load static %}<!DOCTYPE html>
<html>
<head>
<title>
</title>
<link rel="stylesheet"href="{% static 'css/style3.css' %}">
<style>
</style>

</head>
<body class="b">
<div class="navbar">
<ul>

<li><a href="edit.html">Edit</a>

<div class="submenu">
<ul>
<li><a href="{% url 'passwordchange'%}">Password</a></li>
<li><a href="{% url 'mobilechange'%}">Mobile</a></li>
<li><a href="{% url 'emailchange'%}">Email</a></li>

</ul>
</div>
</li>
<li><a href="{% url 'logout'%}">Logout</a></li>
</ul>
</div>
<div class="dis">


<div class="cont">
<form>
 {% csrf_token %}
 
<li><a href="{% url 'faculty'%}">Faculty Registration</a></li>
<li><a href="{% url 'studentmark'%}">Student Mark</a></li>
<li><a href="{% url 'studentattendence'%}"> Student Attendance</a></li>
<li><a href="{% url 'facapplyleave'%}">Apply leave</a></li>
<li><a href="{% url 'studentreg'%}">Student registration</a></li>

</form>
</div>
</div>



<div class="ft">
<footer >
<p>&copy 2018-2019 company inc.</p>
</footer>
</div>
</body>
</html>