{% load static %}<!doctype html>
<html>
<head>
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
<title>homepage</title>
</head>
<body class ="b">
<div class="navbar">
<ul>
<li><h1><center><a href="#">WELCOME</a></center></h1></li>
</ul>
</div>
<div class="dis">

<div class="log">
<form action="{% url 'submit' %}"method="POST">
 {% csrf_token %}
<input type="text" class="frm" placeholder="username" name="username">
<input type="text"class="frm" placeholder="password" name="password">
<input type="submit"  class="bt" value="submit">
</form>
</div>
</div>
<div class="ft">
<footer >
<p>&copy 2018-2019 company Inc</p>
</footer>
</div>
</body>
</html>
