
{% load static %}<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="{% static 'css/style5.css' %}">

<style>
</style>
</head>
<body class="b">
<div class="menubar">
<ul>
<li><a href="#">ADD MARK</a></li>
<li><a href="{% url 'logout'%}">LOGOUT</a></li>
</ul>
</div>
<form action="{% url 'studentmark'%}" method="POST">
 {% csrf_token %}
<div class="cont">
<h3>Student id:</h3>
<input type="text" class="frm" name="stdid" placeholder=""><br>
<h3>Name:<h3>
<input type="text" class="frm" name="name" placeholder=""><br>
<h3>Assessment No:</h3>
<input type="text" class="frm" name="assessmentno" placeholder=""><br>
<h3>subject1 Mark:</h3>
<input type="text" class="frm" name="sub1mark" placeholder=""><br>
<h3>subject2 Mark:</h3>
<input type="text" class="frm" name="sub2mark" placeholder=""><br>
<h3>subject3 Mark:</h3>
<input type="text" class="frm" name="sub3mark" placeholder=""><br>
<h3>percentage:</h3>
<input type="text" class="frm" name="percentage" placeholder=""><br>
<center><input type="submit" name="submit" class="btn" value="Submit"></center>
</form>
</div>
</body>
</html>
